<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.CommentMapper">

    <select id="Findall" resultType="domain.Tb_Comment">
        select * from tb_comment1 where 1=1
        <if test="user != ''">
            and userName = #{user}
        </if>
        <if test="commentId != -1">
           and commentId = #{commentId}
        </if>
        order by time desc limit 0,#{num};
    </select>
    <select id="selid" resultType="domain.Tb_Comment">
        select * from tb_comment1 where id=#{id};
    </select>
    <select id="showNewCases" resultType="domain.Tb_Case">
        select * from  tb_case where isShow='已发布' order by power desc,time desc;
    </select>

    <insert id="save" parameterType="domain.Tb_Comment">
        insert into tb_comment1(correct,userName,time,commentId) values (#{correct},#{userName},#{time},#{commentId})
    </insert>
    <delete id="del" parameterType="domain.Tb_Comment">
        delete from tb_comment1 where userName=#{userName} and time=#{time} ;
    </delete>
</mapper>
